/* base colors */
:root {
    --primary: #f5d506;
    --secondary: #12255d;
    --tertiary: #839c4b ;
    --light-dark: #abc5e0;
    --light: #e9eae4;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }

  /* image in background of header */
  #header {
      background-image: url(../images/food.jpg);
      background-position: center;
      background-size: cover;
  }

  /* app title */
  .app-title {
    right: 0.5rem;
    left: auto;
  }

  /* setting width for all cards */
  .card {
      width: 250px;
      height: auto;
  }

  /* move image on cards down to match other margins */
  .card-image {
      margin-top: 10px;
  }

   .header-text {
      margin-left: 1em;
      margin-right: 1em;
  }

  img {
    width: 100%;
    height: auto;
  }

  #ingredient-form {
      background-color: var(--primary);
      box-shadow: 10px 10px black;
  }

  .btn {
      background-color: #12255d; 
      color:white;
  }

  .btn:hover {
      background-color: #274ec2;
  }
  
  #list-container {
      background-color: #abc5e0;
      box-shadow: 10px 10px black;
  }

  #list-header {
    font-weight: bolder;
  }

  #ingredient-text {
    font-size: 1.8rem;
    text-align: left;
  }

  #recipe-container {
      color:#12255d;
      padding-bottom: 3px;
      margin-bottom: 3px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .recipe-line {
      background-color: #12255d;
      margin-bottom: 10px;
      line-height: 2.0;
  }

  .recipe-line:hover {
      background-color: #274ec2;
  }

  body {
    background-color: #12255d;
    margin: 5px;
    padding: 5px;
    font-family: Pesto, helvetica, sans-serif;
    color: var(--secondary);
    line-height: 1.5;
    font-size: 16px;
  }

/* css for target api container */

#target-form {
    background-color: rgb(255, 0, 0);
    box-shadow: 10px 10px black;
}

/*  css for form and button */
.target-text {
    color: white;
    text-shadow: 10px black;
    font-size: 1.8rem;
    text-align: left;
}

#card-header-id {
    color: white;
    text-shadow: 10px black;
    font-size: 1.64rem;
    text-align: left;
}
#zip-button {
    color:rgb(255, 0 ,0);
    text-shadow: 10px black;
}

#zip {
    margin-top: 20px;
}
/* css for target created divs */

.child {
    background-color: rgb(255, 0 ,0);
    border-radius: 10px;
    color: white;
    text-align: left;
    margin-top: 30px;

}

